/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2019, 2:30:49 PM
    Author     : pandit
*/

.header
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00908a), color-stop(1, #383c45) );
    background:-moz-linear-gradient( center top, #00908a 5%, #383c45 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fe4fa', endColorstr='#FFFFFF');
    border-radius: 7pt;
    vertical-align: top;
}

body {
    font-family: 'lato', sans-serif;
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #FFFFFF, #00AFAA, #323C45, #A6A6A6);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

label {
  color: white;
  padding: 8px;
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: central;
}

input {
  background: rgba(255,255,255,0.4);
  border: none;
  display: block;
  outline: none;
  width: 370px;
  height: 30p;
  top: 250px;
  /*margin: 0 auto;*/
  padding: 10px;
  color: #FFFFFF;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }


.transparent_btn {
    display: inline-block;
    padding: 10px 14px;
    color: #FFF;
    border: 1px solid #FFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    background-color: rgba(255,255,255, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
}
.transparent_btn:hover {
    background-color: rgba(255,255,255, 0.3);
    color: #FFF;
}